@model IEnumerable<Transportes_MVC.Models.Rutas>
<h2>@ViewBag</h2>

<table class ="table table-bordered table-responsive table-striped table-striped-columns table-primary">
    <tr>
        <th>@Html.DisplayNameFor(model => model.ID_Ruta) </th>
        <th>@Html.DisplayNameFor(model => model.Fecha_salida) </th>
        <th>@Html.DisplayNameFor(model => model.Fecha_llegadaestimada) </th>

        <th>@Html.DisplayNameFor(model => model.Camiones.Matricula)</th>
        <th>@Html.DisplayNameFor(model => model.Choferes.Nombre)</th>
        <th>@Html.DisplayNameFor(model => model.Direcciones.Calle)</th>
        <th>@Html.DisplayNameFor(model => model.Direcciones1.Calle)</th>
    </tr>
    @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.ID_Ruta)</td>
                    <td>@Html.DisplayFor(modelItem => item.Fecha_salida) </td>
                    <td>@Html.DisplayFor(modelItem => item.Fecha_llegadaestimada)</td>
                    <td>@Html.DisplayFor(modelItem => item.Camiones.Matricula)</td>
                    <td>@Html.DisplayFor(modelItem => item.Choferes.Nombre)</td>
                    <td>@Html.DisplayFor(modelItem => item.Direcciones.Calle)</td>
                    <td>@Html.DisplayFor(modelItem => item.Direcciones1.Calle)</td>


                </tr>
            }
</table>

