@model DTO.CamionesDTO
@*Indicamos a Razor que utilizaremos un modelo específico*@

<h2>
    @ViewBag.Titulo
</h2>
@*Comenzamos a crear nuestro formulario*@
@*HTML HELPER BeginForm*@

@using (Html.BeginForm("Editar_Camion", "Camiones", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    //comienzo el maquetado de mi formulario
    <div class=" row">
        <div class="col-12">

            @Html.HiddenFor(model => model.UrlFoto)
            @Html.HiddenFor(model => model.ID_Camion)

            <div>
                @*Generamos la etiqueta*@
                @Html.LabelFor(model => model.Matricula)
                @*generamos una etiqueta input*@
                @Html.TextBoxFor(model => model.Matricula, new { @class = "form-control", @type = "text" })
                @*generamos un espacio para msg de validación*@
                @Html.ValidationMessageFor(model => model.Matricula, null)
            </div>
            <div>
                @*Generamos la etiqueta*@
                @Html.LabelFor(model => model.Capacidad)
                @*generamos una etiqueta input*@
                @Html.TextBoxFor(model => model.Capacidad, new { @class = "form-control", @type = "number" })
                @*generamos un espacio para msg de validación*@
                @Html.ValidationMessageFor(model => model.Capacidad, null)
            </div>
            <div>
                @*Generamos la etiqueta*@
                @Html.LabelFor(model => model.Marca)
                @*generamos una etiqueta input*@
                @Html.TextBoxFor(model => model.Marca, new { @class = "form-control", @type = "text" })
                @*generamos un espacio para msg de validación*@
                @Html.ValidationMessageFor(model => model.Marca, null)
            </div>
            <div>
                @*Generamos la etiqueta*@
                @Html.LabelFor(model => model.Modelo)
                @*generamos una etiqueta input*@
                @Html.TextBoxFor(model => model.Modelo, new { @class = "form-control", @type = "text" })
                @*generamos un espacio para msg de validación*@
                @Html.ValidationMessageFor(model => model.Modelo, null)
            </div>
            <div>
                @*Generamos la etiqueta*@
                @Html.LabelFor(model => model.Kilometraje)
                @*generamos una etiqueta input*@
                @Html.TextBoxFor(model => model.Kilometraje, new { @class = "form-control", @type = "number" })
                @*generamos un espacio para msg de validación*@
                @Html.ValidationMessageFor(model => model.Kilometraje, null)
            </div>
            <div>
                @Html.LabelFor(model => model.Disponibilidad)
                @Html.CheckBoxFor(model => model.Disponibilidad)
            </div>
            <div>
                @Html.LabelFor(model => model.Tipo_Camion)

                @Html.DropDownListFor(model => model.Tipo_Camion, new SelectList(ViewBag.ListarTipos, "Descripcion", "Descripcion"), new { @class = "form.control" })
            </div>
            @*Imagen*@
            <div>
                @Html.LabelFor(model => model.UrlFoto)
                <input type="file" name="imagen" id="imagen" />
            </div>
            @*Botón de guardar*@
            <div style="text-align:right;">
                <input value=" Guardar" class="btn btn-success" type="submit" />

            </div>
        </div>

    </div>
}


